body{
margin: 0;
}
*{
box-sizing: border-box;
}
.wraper{display: block;

}
.width{max-width: 1170px
}
	.block1>div{background:url(bg-1.png) no-repeat;
	         padding-top: 10px;
	          height:900px}
	          .top{display: flex;}
	          .header{display: inline-block;
	              width: 1170px;
                  height: 38px;
color: #f4f4f4;
font-family: "Segoe UI Black";
font-size: 39px;
font-weight: 900;
font-style: italic;
line-height: 24.12px;
/* Text style for "FitApp" */
letter-spacing: 1.92px;
margin-left: 414px;}
.About,
.Features,
.Reviews,
.Blog,
.Support{flex-wrap: wrap;
	width: 511px;
    height: 18px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
/* Text style for "A, bout" */
     letter-spacing: 0.72px;}
  .About  { margin-left: 414px}
  .Features,
  .Reviews,
  .Blog,
.Support{margin-left: 40px}
.get{flex-wrap: wrap;
	margin-left: 40px;
	font-family: Roboto;
	width: 68px;
height: 17px;
color: #2ecc71;
font-size: 18px;
font-weight: 700;
line-height: 30px;
/* Text style for "Get App" */
letter-spacing: 0.72px;
width: 140px;
height: 42px;
border-radius: 21px;
background-color: #ffffff;}
.mobile{display: inline-block;
position: relative;}	
.help{display: inline-block;position: absolute;} 
.icon{display: inline-block;
	margin-top: 214px;
	  margin-left: 414px;
        background-image: url(logo.png);
        width: 111px;
      height: 111px;
      box-shadow: 0 0 60px rgba(48, 60, 17, 0.15);}
      .task{display: inline-block;
      	margin-top: 66px;
	  margin-left: 414px;
      	text-align: justify;
      	width: 624px;
       height: 62px;
       color: #f4f4f4;
       font-family: "Roboto Light";
       font-weight: 300;
       letter-spacing: 2.56px;
       line-height: 60px;}
.better{display: inline-block;
font-family: "Roboto - Bold";
font-weight: 700;
letter-spacing: 2.56px;*/}
.text{padding-top: 26px;margin-left: 414px;display: inline-block;
width: 627px;
height: 82px;
color: #f4f4f4;
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 32px;
/* Text style for "F, itApp i" */
letter-spacing: 0.72px;}
.app{display: flex;font-size: 0;padding-top: 61px}
.store{flex-wrap:wrap;margin-left: 414px;}
.google{flex-wrap:wrap;margin-left:30px}
.phone{display: inline-block;position: absolute;
	margin-left:1170px;
	margin-top: 80px;
    width: 404px;
    height: 753px;}
                .
	         
	


.block2{display: inline-block;
        height:900px;}
           .pictures{display:inline-block;
           	vertical-align: middle;
           	width: 1200px;
           	height: 747px;}
           .home{display: inline-block;
           	margin-left: 346px;
           	margin-top: 60px;
             width: 412px;
            height: 747px;
             border: 1px solid rgba(2, 2, 2, 0.15);
             background-color: #ffffff;
            background-image: url(features-group.png);
        }
        .task2{display: inline-block;
        width: 548px;
height: 46px;
color: #2ecc71;
font-family: Roboto;
font-size: 48px;
font-weight: 300;
line-height: 60px;
/* Text style for "B, est cal" */
color: #5a5a5a;
letter-spacing: 1.44px;
/* Text style for "" */
color: #0fd41b;
letter-spacing: 1.44px;
/* Text style for "counter ap" */
letter-spacing: 1.44px;}.text{display: inline-block;
width: 462px;
height: 82px;
color: #5a5a5a;
font-family: Roboto;
font-size: 18px;
font-weight: 300;
line-height: 32px;
/* Text style for "Lorem ipsu" */
letter-spacing: 0.54px;}
            
                
            